MONGODB_URI=mongodb+srv://username:password@tripplaner.dykgms6.mongodb.net/trip_planner?retryWrites=true&w=majority&appName=TripPlaner
JWT_SECRET=your-secret-key-min-32-characters-long
FRONTEND_URL=http://localhost:5173
